@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .sec-content.text-center {
        padding-top: 130px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .sec-content.text-center {
        padding-top: 120px;
    }
    .sec-content h2 span {
        font-size: 60px;
    }
    .sec-content h2 {
        font-size: 30px;
        line-height: normal;
    }
}
    
@media only screen and (min-width: 768px) and (max-width: 991px){
    img.shape-1 {
        display: none;
    }
    .sec-content.text-center {
        padding-top: 30px;
    }
    .featured-bg {
        position: absolute;
        left: -20%;
        top: auto;
        height: 80%;
        bottom: 0;
        width: 135%;
    }
    .subcription-form {
        margin-top: 50px;
    }
    
    a.continue-btn {
        margin-top: 50px;
    }
    .sec-content h2 {
        font-size: 32px;
        line-height: normal;
    }
    
}
@media (max-width: 767px){
    img.shape-1 {
        display: none;
    }
    .sec-content.text-center {
        padding-top: 30px;
    }
    .featured-bg {
        position: absolute;
        left: -70%;
        top: auto;
        height: 70%;
        bottom: 0;
        width: 170%;
    }
    .subcription-form {
        margin-top: 45px;
    }
    
    a.continue-btn {
        margin-top: 80px;
    }
    .sec-content h2 {
        font-size: 24px;
        line-height: normal;
    }
    .sec-content h2 span {
        font-size: 42px;
    }
    .subcription-form input {
        width: 70%;
    }
    button.subs-btn {
        width: 25%;
    }
    
}
@media only screen and (min-width: 576px) and (max-width: 767px){

}